.navbar {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    margin-top: 20px;
}

.navbar-title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbar-title a {
    text-decoration: none;
    color: inherit; /* Ensures link uses the title color */
}

.navbar-title a:hover {
    color: #007bff; /* Changes color on hover */
}

.navbar-subtitle {
    font-size: 1em;
    color: #888;
    margin-top: 5px;
}

.navbar-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-links a {
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #007bff;
}

.theme-toggle-container {
    margin-top: 20px;
}