.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the cards horizontally */
    gap: 16px; /* Adds spacing between cards */
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
}

.project-card {
    max-width: 300px; /* Ensures a consistent width */
    flex: 1 1 calc(33.33% - 40px); /* Ensures three cards per row */
    box-sizing: border-box;
}



/* .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 20px;
} */